
<div class="footer">
    <div class="imagicon">
        <div class="Headline">
            <h2>Download Apps:</h2>
        </div>
        <div class="imag">
            <a href="https://play.google.com/store/games?device=windows"><img src="../../assets/images/play-store-logo-33874.png"alt=""></a>
        </div>
    </div>
    <div class="iconSocial">
        <h5 class="contact">Contact us</h5>
        <div class="iconbox1">
            <i class="fa-brands fa-square-facebook fa-2xs" style="color: #ffffff;"></i>
        </div>
        <div class="iconbox2">
            <i class="fa-brands fa-twitter fa-2xs" style="color: #ffffff;"></i>
        </div>
        <div class="iconbox3">
            <i class="fa-brands fa-instagram fa-2xs" style="color: #ffffff;"></i>
        </div>
        <div class="iconbox4">
            <i class="fa-brands fa-youtube fa-2xs" style="color: #ffffff;"></i>
        </div>

    </div>
    <div class="footer-links">
        <h5 class="Heading-line">premium Movie</h5>
        <ul>
            <li><a href="">Bistra</a></li>
            <li><a href="">Silence 2</a></li>
            <li><a href="">Tejas</a></li>
            <li><a href="">Gadar 2</a></li>
            <li><a href="">Hanu-man</a></li>
            <li><a href="">Bandaa</a></li>
            <li><a href="">kadak singh</a></li>
        </ul>
    </div>
    <div class="footer-iteamLinks">
        <h5 class="Heading-line">Popular web series</h5>
        <ul>
            <li><a href="">Duranga2</a></li>
            <li><a href="">Naxalabri</a></li>
            <li><a href="">Gaalivan</a></li>
            <li><a href="">Sunny Deol</a></li>
            <li><a href="">Mi Emirates</a></li>
            <li><a href="">Tripling</a></li>
            <li><a href="">Love Bite</a></li>
        </ul>

    </div>
    <div class="footer-iteam">
        <h5 class="Heading-line">Games</h5>
        <ul>
            <li><a href="">play</a></li>
            <li><a href="">stories</a></li>
            <li><a href="">Gulf Giants</a></li>
            <li><a href="">Abu Dhabi</a></li>
            <li><a href="">Contra</a></li>
            <li><a href="">IPLT20</a></li>
            <li><a href="">Angary bired</a></li>
        </ul>

    </div>
    <div class="footer-2link">
        <h5 class="Heading-line">premium Movie</h5>
        <ul>
            <li><a href="">Bistra</a></li>
            <li><a href="">Silence 2</a></li>
            <li><a href="">Tejas</a></li>
            <li><a href="">Gadar 2</a></li>
            <li><a href="">Hanu-man</a></li>
            <li><a href="">Bandaa</a></li>
            <li><a href="">kadak singh</a></li>
        </ul>
    </div>
    <div class="desceibe">
        <h6>Best viewed on Google Chrome 80+, Microsoft Edge 81+, Mozilla Firefox 75+, Safari 5.1.5+
            Copyright © 2024 Zee Entertainment Enterprises Ltd. All rights reserved.</h6>
    </div>
</div>