.movie-container{
    width: 1300px;
    margin: 0 auto;
}
.top {
    display: flex;
}
.left {
    width: 450px;
}
.name {
    font-size: 36px;
    font-weight: bold;
     margin-top: 20px;
    /* background-color: aqua; */
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
}
.rating-value {
    margin-left: 22px;
    font-weight: bold;

}
.cover {
    width: 350px;
    height: 400px;
    margin-right: 50px;
   
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right{
    width: 900px;
    padding-top: 100px;
    
}
.title{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;

}
.form-group{
    margin-top: 20px;
    font-weight: 600;

}
.label{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 25px;
   
}
.textarea{
    resize: none;
}

.btn-container{
    margin-top: 30px;
}

.bottom{
    margin-top: 50px;
}
.title{
    margin-bottom: 30px;
}
.reviews{
    width: 1000px;
}
.review{
    margin-bottom: 25px;
     background-color: #f1f1f1;
     padding: 20px;
     border-radius: 5px;
}
.review-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.author{
    font-size: 18px;
    font-weight: bold;
}
.author-dt{
    opacity: 0.7;
}
.rating{
    display: flex;
    align-items: center;

}
.rating-value{
    margin-left: 20px;
    font-weight: bold;

}
